$FontAwesomePath: "./../bower_components/font-awesome/font"

@import "bootstrap-sass/lib/bootstrap"
@import "font-awesome/scss/font-awesome"

/* Put your CSS here */
html, body
  margin: 20px

body
  background: #fafafa
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #333
